/* login page  -- start -- */

html {
    margin: 0;
}

:root {
    --black: #000;
    --white: #ffffff;
    --orange: #ff4400;
    --bluewash: #213046;
    --bluelightwash: rgba(178,142,250,.2);
    --red: #ff0000;
    --Beige : #d5c0ff;
    
}

.login-form {
    width: 350px;
}

.heading h1 {
    color: var(--white);
    font-family: serif;
}

.heading,
.Email_head,
.password_head,
.check_password,
.forgot_password,
.loading_gif_head,
.sub_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.one_side_img {
    /* height: 100vh; */
    background-image: url(../assests/bcImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.Email_head span,
.password_head span {
    transform: translate(-268px, 0px);
}

.password_head #show_password_eye {
    transform: translate(-40px, 0px);
    cursor: pointer;


}

.password_head {
    position: relative;
    left: 10px;
}

.email,
.password {
    width: 280px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    padding: 10px 35px;

}

.loading_gif_head .loading_gif {
    width: 35px;


}

.loading_gif_head {
    display: flex;
    justify-content: center;
}


.submit_btn {
    margin: auto;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: bold;
    border: none;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading_gif_id {
    width: 25px;
    height: 25px;
}



.error_msg {
    color: var(--red);
}



/* login page -- end -- */

/* side navbar ---start--- */

.sideNavbar {
    width: 200px;
    background-color: var(--bluewash);
}
.sidebar_items{
    width: inherit;
}

.sidebar_items .nav_head_top {
    padding: 10px;
    text-align: center;
    background-color: var(--bluewash);
    color: var(--white);
    border-bottom: 1px solid var(--white);
    height: 12vh !important;
}

.nav_head_top img {
    width: 100%;
}

.list_items{
    height: 80vh !important;
    overflow-y: auto;
}

.nav_ul_items{
    padding-left:  1rem !important;
}

.sidebar_items .list_items .nav_ul_items li {
    list-style-type: none;
    line-height: 50px;
    padding-left: 1rem;
    cursor: pointer;
}
.sidebar_items .list_items .nav_ul_items  li i,.footer_profile i  {
    color: var(--white);
}

.sidebar_items .list_items .nav_ul_items li:hover {
    background: linear-gradient(90deg, var(--bluelightwash), var(--Beige));
    border-radius:20px 0px 0px 20px;
}


.nav_ul_items .active {
    background: linear-gradient(90deg, var(--bluelightwash), var(--Beige));
    border-radius:20px 0px 0px 20px;
}

.sidebar_items .list_items .nav_ul_items li a {
    color: var(--white);
    text-decoration: none;
    padding: 10px;



}
.footer_profile{
    padding-top: 1rem;
    padding-left: 2rem;
    height: 8vh !important;
    border-top: 1px solid var(--white);
}

.footer_profile span {
    color: var(--white);
    padding-left: 0.5rem;
   
}

.footer_profile i {
    font-size: 20px;
}




::-webkit-scrollbar {
    width: 5px;
  }


  ::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}

.footer_profile {
    cursor: pointer;
}
#log_out{
    border: none;
    background-color: var(--bluewash);
}

/* side navbar ---end--- */


.main-div{
    display: flex;
    
}
#myTable{
    padding: 20px;
}



/* dashboard cards ---start---- */

.card_headings{
    display: flex;
    justify-content: space-between;
}
.card_headings span i{
    color: var(--orange);
}

/* top navbar */

 .top_navbar{
    background-color: cadetblue;
    height: 75px;
    width: 100% !important;

}


/* subscribers */
#myTable{
    width: 1000px;
}






